@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.player {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}